body 
{
    background-image: url(../Img/BookCase_Background.png);
    background-size: contain;
}
h1, h2
{
    color:blue;
    background-color: white;

}
h1
{
    width: 650px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 80px;
}
h2 
{  
    margin-left: 220px;   
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}
#Board
{
    display:inline-flex;
    float: left;
}
/** TABLE CONTENT **/   
#BS
{
    border-width: 4px;
    border-collapse: collapse;
    margin-left: 40px;
    margin-top: 20px;
    display:inline-flex;
    visibility: hidden;

    width: 1500px;
}
#TitleBestSells
{
    visibility: hidden;
}
.BS-data,.BS-titres
{
    border: 5px inset #f8bb16;
    padding: 10px;
    font-size: 20px;
    background-color: antiquewhite;
}
.BS-titres
{
    background-color: tan;
    font-size: 25px;
}

p {color: white;}