body
{   
    background-color:seagreen;  
}
#SousTitres
{
    margin-top: 0;
    font-size: 16px;
}
#Basket
{
    float: right;
    /* AUTO-CENTRER a la gauche quand on resize la fenetre ou on utilise le scrollbar */
    position: fixed;
    right: 0;
}
#btnReady
{
    margin-left:35px;
}
#ShoppingCart
{
    position: fixed;
    /* Permet de scroll de haut en bas le ShoppingCart content si trop items + prend toute la page */
    top: 0;
    bottom:0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Cacher le scrollbar */

    height: 210px;
    background-color: lightgray;
    width: 165px;
    /* Position Align au dessous des buttons */
    margin-top: 140px;
    border: 2px solid black;
}
#genreDropList
{
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    width:auto;
    height: 35px;
}

td
{  vertical-align: text-top;   }
/* CSS pour figcaptions */
.bookSpecs 
{
    background-color: white;
    width: 300px;
    padding: 6px 12px 6px 12px; 

    border: 3px solid black;
    border-radius: 15px;
}
/* CSS pour alignement button ADD TO CART */
.btnSearch
{
    margin-left: 100px;
    margin-top: 20px;
}
